body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  height: 100%;
}

.card-big {
  height: 30vh;
  width: 70%;
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin: 5px;
}

.card-medium {
  height: 30vh;
  width: 30%;
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin: 5px
}

.card-small-plus {
  flex-grow: 1;
  height: 20vh;
  width: 40%;
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin: 5px;
}

.card-small {
  flex-grow: 1;
  min-height: 5vh;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin: 5px;
}

.card-value {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: royalblue;
  line-height: 100%;
}

.card-title {
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.chart-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  justify-content: center;
  /* Horizontal center alignment */
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 7vh;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin: 5px;
  align-items: center;
  /* Vertical center alignment */
  justify-content:space-around
}

.clock-card {
  width: 33%;
}

.first-row {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.second-row {
  display: flex;
  flex-direction: row;
}

.third-row {
  display: flex;
  flex-direction: row;
}

.fourth-row {
  display: flex;
  flex-direction: row;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tooltip {
  text-align: center;
  padding: 1vh;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 10px;
  margin: 0;
}

.bizcharts-tooltip {
  padding: 0 !important;
  border-radius: 10px !important;
}

@media only screen and (max-width: 700px) {
  .first-row {
    order: 0
  }
  .card-small-plus {
    order: 2;
  }
  .second-row, .third-row, .fourth-row {
    flex-direction: column;
  }
  .second-row>div, .third-row>div, .fourth-row>div {
    width: auto;
  }
  .card-small {
    padding: 15px;
  }
}